Pods/Pods.xcodeproj/xcuserdata/bemore.xcuserdatad/xcschemes/xcschememanagement.plist
Triponus.xcodeproj/xcuserdata/bemore.xcuserdatad/xcschemes/xcschememanagement.plist
/Users/macbook/Documents/Coding/Swift/Hust_project/Triponus.xcodeproj/xcuserdata/macbook.xcuserdatad/xcschemes/xcschememanagement.plist
